@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;;
    font-size: 1rem;
    font-family: Lato;
    color: #1f1d2e;
}

.container {
    display: grid;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-areas: 
        'h h h'
        's m m'
        'f f f';
    width: 100vw;
    height: 100vh;
}

.header {
    grid-area: h;
    background-color: #9893a5;
}


.main {
    grid-area: m;
    background-color: #6e6a86;
    display: grid;
    grid-template-columns: 50px 700px 1fr;
    grid-template-rows: 50px 300px 1fr;
    grid-template-areas: 
        '. . .'
        'input-button input .'
        '. confirm .';
}

.input-button {
    grid-area: input-button;
    display: flex;
    flex-direction: row-reverse;
}

.input {
    grid-area: input;
}

.confirmation {
    grid-area: confirm;
    display: flex;
    flex-direction: row;
}

.row { 
    display: inline;
    float: left;
}

textarea {
    padding: 10px;
    border: none;
    background-color: #e0def4;
}

.side {
    grid-area: s;
    background-color: #c4a7e7;
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1rem 1fr;
    grid-template-areas: 
        'a'
        'b';
}

.sidemenu {
    grid-area: a;
    display: flex;
    flex-direction: row-reverse;
    
    align-items: center;
}

.notes {
    grid-area: b;
    display: flex;
    align-items: flex-start;
}

.no-style-button {
    display: flex;
    border: none;
    padding: 1rem;
    background: none;
    font-size: 1.5rem;
  }


footer {
    grid-area: f;
    background-color: #9893a5;
    text-align: center;
}

.inline {
    background-color: #9893a5;
    display: block;
    margin: 0;
    padding: 2rem;
    text-align: center;
    display: inline;
    font-size: 3rem;
    color:#334259;
}

.inline a {
    text-decoration: none;
    
}

.top {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-family: Lato;
    }

    .container {
        display: grid;
        grid-template-columns: 5rem 1fr;
        grid-template-rows: 5rem 1fr 5rem;
        grid-template-areas: 
            'h h h'
            's m m'
            'f f f';
        width: 100vw;
        height: 100vh;
    }
    

    .main {
        grid-area: m;
        background-color: #6e6a86;
        display: grid;
        grid-template-columns: 50px 300px 1fr;
        grid-template-rows: 50px 300px 1fr;
        grid-template-areas: 
            '. . .'
            'input-button input .'
            '. confirm .';
    }

    textarea {
        padding: 10px;
        border: none;
        background-color: #f2e9de;
        width: 200px;
        height: 275px;
    }


}